#InfoSelection {
    /* light theme tokens */
    --info-bg-light: 225, 225, 225;

    /* dark theme tokens */
    --info-bg-dark: 42, 42, 42;

    --rgb-info-bg: rgb(var(--info-bg));
}


[data-theme='light'] #InfoSelection {
    --info-bg: var(--info-bg-light)
}


[data-theme='dark'] #InfoSelection {
    --info-bg: var(--info-bg-dark);
}


#InfoSelection {
    background-color: var(--rgb-info-bg);
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

#InfoSelection .block:not(:first-child) {
    margin-top: 2rem;
}

#InfoSelection .block-title {
    font: 18px/24px 'opensans-bold', sans-serif;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    padding-bottom: 0.3rem;
    text-align: center;
    padding-top: 1.8rem;
}

#InfoSelection .author-info {
    font-size: 15px;
    margin-bottom: 0.5rem;
}

#InfoSelection .author-info i {
    margin-right: 5px;
    margin-left: 5px;
}

#InfoSelection .author {
    font-size: 15px;
}

.info-item:not(:last-child) {
    margin-bottom: 2rem;
}

.theme-block:not(:last-child) {
    padding-bottom: 2.5rem;
}
