#InfoSelection {
    padding-top: 90px;
    padding-bottom: 72px;
    overflow: hidden;
    background: #2a2a2a;
}


#InfoSelection .block:not(:first-child) {
    margin-top: 4rem;
}


#InfoSelection h1 {
    font: 18px/24px 'opensans-bold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#InfoSelection .block-title {
    border-bottom: 3px solid #0762f9;
    padding-bottom: 6px;
    text-align: center;
}

#InfoSelection h3 {
    line-height: 30px;
    font-size: 25px;
    color: white;
}

#InfoSelection .header-col {
    padding-top: 1.8rem;
}

#InfoSelection .main-col {
    padding-right: 10%;
    text-align: left;
}

#InfoSelection .author-info {
    font-size: 15px;
    margin-bottom: 0.5rem;
    color: white;
}

#InfoSelection .author-info span {
    margin-right: 5px;
    margin-left: 5px;
}

#InfoSelection .author {
    font-size: 15px;
}

.theme-texts {
    margin-top: 1rem;
}

.info-item {}

.info-item:not(:last-child) {
    margin-bottom: 2.5rem;
}

.theme {}

.theme:not(:last-child) {
    border-bottom: 1px solid rgba(176, 176, 176, 0.33);
    padding-bottom: 1rem;
}

.theme:not(:first-child) {
    padding-top: 1rem;
}