#reviews {
    background: #191919;
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #636363;
}


#reviews h1 {
    color: white;
}

#reviews span.msg-icon:before {
    font-family: 'FontAwesome', serif;
    content: "\f0e0";
    font-size: 72px;
    color: #ebeeee;
}

#reviews h4 {
    font: 16px/24px 'opensans-bold', sans-serif;
    color: #EBEEEE;
}

#reviews p.lead {
    line-height: 36px;
    font-size: 12px;
    color: rgb(201, 201, 201);
}

/* contact form */
#reviews form {
    margin-bottom: 30px;
}

#reviews label {
    font: 15px/24px 'opensans-bold', sans-serif;
    margin: 12px 0;
    color: white;
    display: inline-block;
    float: left;
    width: 26%;
}

#reviews input,
#reviews textarea,
#reviews select {
    padding: 10px 20px;
    color: #eee;
    background: #373233;
    border: 0;
    font-size: 15px;
    line-height: 24px;
    width: 70%;
}

#reviews input:focus,
#reviews textarea:focus,
#reviews select:focus {
    color: white;
    background-color: rgba(138, 138, 138, 0.6);
}

#reviews button.submit {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
    background: #0D0D0D;
    border: none;
    cursor: pointer;
    height: auto;
    display: inline-block;
    margin-left: 26%;
    transition: background 0.5s, color 0.5s;
}

#reviews button.submit:hover {
    color: #0D0D0D;
    background: #fff;
    transition: background 0.5s, color 0.5s;
}

#reviews span.required {
    color: #0762f9;
    font-size: 13px;
}

#message-warning, #message-success {
    display: none;
    background: #0F0F0F;
    padding: 24px 24px;
    margin-bottom: 36px;
    width: 65%;
    margin-left: 26%;
}

#message-warning {
    color: #D72828;
}

#message-success {
    color: #0762f9;
}

#message-warning i,
#message-success i {
    margin-right: 10px;
}

#image-loader {
    display: none;
    position: relative;
    left: 18px;
    top: 17px;
}

#reviewMessage {
    resize: none;
}


/* ------------------------------------------------------------------ */
/* i. Footer
/* ------------------------------------------------------------------ */

footer {
    padding-top: 48px;
    margin-bottom: 48px;
    color: #303030;
    font-size: 14px;
    text-align: center;
    position: relative;
}

footer a, footer a:visited {
    color: #525252;
}

footer a:hover, footer a:focus {
    color: #fff;
}

/* copyright */
footer .copyright {
    margin: 0;
    padding: 0;
}

footer .copyright li {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 24px;
}

.ie footer .copyright li {
    display: inline;
}

footer .copyright li:before {
    content: "\2022";
    padding-left: 10px;
    padding-right: 10px;
    color: #095153;
}

footer .copyright li:first-child:before {
    display: none;
}

/* social links */
footer .social-links {
    margin: 18px 0 30px 0;
    padding: 0;
    font-size: 30px;
}

footer .social-links li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 42px;
    color: #F06000;
}

footer .social-links li:first-child {
    margin-left: 0;
}
