#reviews {
    /* light theme tokens */
    --reviews-bg-light: var(--background-primary);
    --review-textarea-bg-light: 204, 204, 204;
    --review-textarea-focus-bg-light: 190, 190, 190;

    /* dark theme tokens */
    --reviews-bg-dark: var(--background-primary);  /*25, 25, 25*/
    --review-textarea-bg-dark: 55, 50, 51;
    --review-textarea-focus-bg-dark: 130, 130, 130;

    --rgb-reviews-bg: rgb(var(--reviews-bg));
    --rgb-review-textarea-bg: rgb(var(--review-textarea-bg))
}


[data-theme='light'] #reviews {
    --reviews-bg: var(--reviews-bg-light);
    --review-textarea-bg: var(--review-textarea-bg-light);
    --review-textarea-focus-bg: var(--review-textarea-focus-bg-light);
}


[data-theme='dark'] #reviews {
    --reviews-bg: var(--reviews-bg-dark);
    --review-textarea-bg: var(--review-textarea-bg-dark);
    --review-textarea-focus-bg: var(--review-textarea-focus-bg-dark);
}

/*color: #636363;*/
#reviews {
    background: var(--rgb-reviews-bg);
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#reviews span.msg-icon:before {
    font-family: 'FontAwesome', serif;
    content: "\f0e0";
    font-size: 4.5rem;
}

#reviews p.lead {
    font-size: 1rem;
}

#reviews form {
    margin-bottom: 30px;
}

#reviews label {
    display: inline-block;
    float: left;
    width: 26.1%;
}

#reviews input,
#reviews textarea,
#reviews select {
    padding: 0.6rem 0.6rem;
    color: var(--rgb-text-primary);
    background-color: rgba(var(--review-textarea-bg), 0.6);
    border: 0;
    font-size: 15px;
    line-height: 24px;
    width: 70%;
}

#reviews input:focus,
#reviews textarea:focus,
#reviews select:focus {
    outline-width: 0;
    color: var(--rgb-text-primary);
    background-color: rgba(var(--review-textarea-focus-bg), 0.3);
}

#reviews button.submit {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--rgb-text-primary);
    border: 1px solid var(--rgb-text-primary);
    height: auto;
    display: inline-block;
    margin-left: 26%;
    width: 70%;
    transition: background 0.3s, color 0.3s;
}

#reviews button.submit:hover {
    color: var(--rgb-background-primary);
    background: var(--rgb-text-primary);
    transition: background 0.3s, color 0.3s;
}

#message-warning, #message-success {
    display: none;
    background: #0F0F0F;
    padding: 24px 24px;
    margin-bottom: 36px;
    width: 65%;
    margin-left: 26%;
}

#message-warning {
    color: #D72828;
}

#message-success {
    color: #0762f9;
}

#message-warning i,
#message-success i {
    margin-right: 0.3rem;
}

#reviewMessage {
    resize: none;
}
