footer {
    /* light theme tokens */
    --background-footer-light: 220, 220, 220;

    /* dark theme tokens */
    --background-footer-dark: 48, 48, 48;

    --rgb-background-footer: rgb(var(--background-footer));
}


[data-theme='light'] footer {
    --background-footer: var(--background-footer-light);
}


[data-theme='dark'] footer {
    --background-footer: var(--background-footer-dark);
}

footer {
    padding-top: 3rem;
    background-color: var(--rgb-background-footer);
    color: var(--rgb-text-primary);
    font-size: 14px;
    text-align: center;
    position: relative;
}

footer a, footer a:visited {
    color: var(--rgb-active);
}

footer a:hover, footer a:focus {
    color: var(--rgb-hover);
}

/* copyright */
footer .copyright {
    margin: 0;
    padding: 0;
}

footer .copyright li {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 24px;
}

.ie footer .copyright li {
    display: inline;
}


footer .copyright li:first-child:before {
    display: none;
}

/* social links */
footer .social-links {
    margin: 18px 0 30px 0;
    padding: 0;
    font-size: 30px;
}

footer .social-links li {
    display: inline-block;
    padding: 0;
    margin: 0 0 0 42px;
    color: #F06000;
}

footer .social-links li:first-child {
    margin-left: 0;
}
