#home {
    position: relative;
    height: 100%;
    min-height: 500px;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

#home:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

#home .banner {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    width: 85%;
    padding-bottom: 30px;
    text-align: center;
}

#home .banner-text h1 {
    font: 70px/1em 'Arial', sans-serif;
    color: #fff;
    margin: 0 auto 18px auto;
}

#home .banner-text h3 {
    font: 18px/1.9em 'Arial Black', serif;
    color: #ddd;
}

/* #home social links */
#home .social {
    margin: 24px 0;
    padding: 0;
    font-size: 30px;
}

#home .social li {
    display: inline-block;
    margin: 0 15px;
    padding: 0;
}

#home .social li button {
    color: #fff;
}

.social .btn {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.social .btn i {
    margin-right: 0.8rem;
}

.instruction-btn {
    background-color: #419452 !important;
    color: white;
}

.github-btn {
    background-color: #213e8c !important;
    color: white;
}

.github-btn:hover, .instruction-btn:hover {
    color: #d3d3d3;
}

@media screen and (max-width: 576px) {
    .main-text {
        font-size: 3rem !important;
    }
}
