#GMenu {
    /* light theme tokens */
    --background-menu-light: 240, 240, 240;
    --text-menu-light: 18, 18, 18;
    --borders-menu-light: 0, 0, 0;

    /* dark theme tokens */
    --background-menu-dark: 18, 18, 18;
    --text-menu-dark: 255, 255, 255;
    --borders-menu-dark: 255, 255, 255;

    --rgb-background-menu: rgb(var(--background-menu));
    --rgb-text-menu: rgb(var(--text-menu));
    --rgb-borders-menu: rgb(var(--borders-menu));
}


[data-theme='light'] #GMenu {
    --background-menu: var(--background-menu-light);
    --text-menu: var(--text-menu-light);
    --borders-menu: var(--borders-menu-light);
}


[data-theme='dark'] #GMenu {
    --background-menu: var(--background-menu-dark);
    --text-menu: var(--text-menu-dark);
    --borders-menu: var(--borders-menu-dark);
}


#GMenu .nav {
    background-color: transparent;
    height: 3rem;
}

#GMenu .nav-link:not(:hover):not(:active) {
    color: var(--rgb-text-menu) !important;
}

#GMenu .collapseBtn {
    color: var(--rgb-text-menu);
    height: 3rem;
    width: 3rem;
    background-color: transparent;
    border: none;
}

#GMenu .slidebar {
    padding-top: 3rem;
    position: fixed;
    top: -18rem;
    opacity: 0;
    z-index: 123;
    width: 100%;
    transition: all 0.3s ease-in-out;
    background: var(--rgb-background-menu);
}

#GMenu .slidebar.open {
    opacity: 1;
    top: 0;
}

#GMenu .slidebar-item {
    width: 100%;
    cursor: pointer;
}

#GMenu .slidebar-item:not(:last-child) {
    border-bottom: rgba(var(--borders-menu), 0.3) 1px solid;
    padding-bottom: 1rem;
}

#GMenu .slidebar-item:not(:first-child) {
    padding-top: 1rem;
}

#GMenu .slidebar-item .icon {
    border-right: rgba(var(--borders-menu), 0.3) 1px solid;
    padding-right: 1rem;
}

#GMenu .slidebar-item .title {
    padding-left: 1rem;
}