.nav {
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
    height: 3rem;
}

.nav-item {
    cursor: pointer;
}

.collapseBtn {
    height: 3rem;
    width: 3rem;
    color: white;
    background-color: transparent;
    border: #8f8f8f !important;
}

.collapseBtn:hover {
    color: #cccccc;
}

.collapseBtn:active {
    color: #858585 !important;
    border: none !important;
}

.collapseBtn:focus {
    border: none !important;
}

.slidebar {
    padding-top: 3rem;
    position: fixed;
    top: -18rem;
    opacity: 0;
    z-index: 123;
    width: 100%;
    transition: all 0.3s ease-in-out;
    background: rgb(30, 30, 30);
}


.slidebar.open {
    opacity: 1;
    top: 0;
}


.slidebar-item {
    width: 100%;
}

.slidebar-item:not(:last-child) {
    border-bottom: rgba(255, 255, 255, 0.3) 1px solid;
    padding-bottom: 1rem;
}

.slidebar-item:not(:first-child) {
    padding-top: 1rem;
}

.slidebar-item .icon {
    border-right: rgba(255, 255, 255, 0.3) 1px solid;
    padding-right: 1rem;
}

.slidebar-item .title {
    padding-left: 1rem;
}