/*--background-primary-light: 44, 191, 170;*/
/*--accent-light: 37, 89, 88;*/
/*--text-primary-light: 0, 0, 0;*/
/*--text-secondary-light: 30, 30, 30;*/
/*--active-light: 133, 133, 133;*/
/*--hover-light: 204, 204, 204;*/


:root {
    /* light theme tokens */
    --background-primary-light: 255, 255, 255;
    --accent-light: 16, 110, 171;  /*3, 50, 80*/
    --text-primary-light: 18, 18, 18;
    --text-secondary-light: 75, 75, 75;
    --active-light: 190, 190, 190;
    --hover-light: 150, 150, 150;



    /* dark theme tokens */
    --background-primary-dark: 18, 18, 18;
    --accent-dark: 28, 169, 253;  /*76, 144, 180*/
    --text-primary-dark: 255, 255, 255;
    --text-secondary-dark: 210, 210, 210;
    --active-dark: 133, 133, 133;
    --hover-dark: 204, 204, 204;



    /* General */
    --accent-blue: 7, 98, 249;


    /* General(RGB) */
    --rgb-accent-blue: rgb(var(--accent-blue));
    --linear-gradient-blue: rgb(0,208,255) 0%,  rgb(0,138,255) 100%;

    /* Themes(RGB) */
    --rgb-background-primary: rgb(var(--background-primary));
    --rgb-text-primary: rgb(var(--text-primary));
    --rgb-text-secondary: rgb(var(--text-secondary));
    --rgb-active: rgb(var(--active));
    --rgb-hover: rgb(var(--hover));
    --rgb-accent: rgb(var(--accent));
}


[data-theme='light'] {
    --background-primary: var(--background-primary-light);
    --accent: var(--accent-light);
    --text-primary: var(--text-primary-light);
    --text-secondary: var(--text-secondary-light);
    --active: var(--active-light);
    --hover: var(--hover-light);
}

[data-theme='dark'] {
    --background-primary: var(--background-primary-dark);
    --text-primary: var(--text-primary-dark);
    --text-secondary: var(--text-secondary-dark);
    --active: var(--active-dark);
    --accent: var(--accent-dark);
    --hover: var(--hover-dark);
}
