#InstructionView {
    /* light theme tokens */
    --background-instruction-light: var(--background-primary);

    /* dark theme tokens */
    --background-instruction-dark: 30, 30, 30;

    --rgb-background-instruction: rgb(var(--background-instruction));
}


[data-theme='light'] #InstructionView {
    --background-instruction: var(--background-instruction-light);
}


[data-theme='dark'] #InstructionView {
    --background-instruction: var(--background-instruction-dark);
}


#InstructionView .instruction {
    background-color: var(--rgb-background-instruction);
    padding-bottom: 10rem;
    padding-top: 3rem;
}

#InstructionView .block {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}

#InstructionView .group {}

#InstructionView .group .group_title {
    text-align: center;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    border-top: 1px var(--rgb-text-primary) solid;
    border-bottom: 1px var(--rgb-text-primary) solid;
}

#InstructionView .step_text {
    font-size: 1.1rem;
}

#InstructionView .content_nav {
    color: var(--rgb-text-primary);
    position: fixed;
}

#InstructionView .content_nav .nav_button {
    cursor: pointer;
    padding-left: 1rem;
    border-left: 2px transparent solid;
}

#InstructionView .content_nav .nav_button.active {
    border-left: 2px var(--rgb-text-primary) solid;
}

#InstructionView .content_nav .nav_button:not(.active):hover {
    border-left: 2px #b2b2b2 solid;
}

#InstructionView .content_nav .nav_button.group_button {
    font-size: 1.2rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

#InstructionView .content_nav .nav_button.block_button {
    margin-left: 1rem;
    font-size: 1rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}
